* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* ======
Typography
====== */

h1 {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 300;
  margin: 0;
}

h1 + p {
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  color: #f18119;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  color: #404040;
  margin: 0;
}

h2 + p {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  color: #f18119;
  margin-top: 0;
}

.top-text {
  color: #f18119;
  margin: 0;
  padding-top: 0.125em;
  font-size: 0.625rem;
  font-weight: 900;
  text-transform: uppercase;
  order: -1;
  border-top: 5px solid #f18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51b) 1;
}

strong {
  font-weight: 900;
}

.info-small {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* ======
page container
====== */

.page-container {
  display: flex;
  flex-direction: column;
}

/* ======
Intro section
====== */

.intro {
  background-color: #404040;
  background-image: url(../images/ribs.jpg);
  background-blend-mode: screen;
  padding: 0 0.5em 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ======
main-container section
====== */

.main-container {
  padding: 2em 1.5em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

/* ======
Form
====== */

.email-collector {
  width: 80%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: 0.75em;
  border: 1px solid #404040;
  padding: 0.5em;
  transform: scale(1);
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1em 1.5em;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}

.main-btn {
  background: linear-gradient(to right, #ffa51d, #ff713b);
  color: #fff;
  transform: scale(1); /* 100% */
  transition: transform 250ms;
}

.main-btn:hover,
.main-btn:focus {
  color: #000;
  transform: scale(1.1);
}

/* ======
media queries
====== */

@media (min-width: 530px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2,
  h1 + p {
    font-size: 1.75rem;
  }
  /*  */
  .page-container {
    flex-direction: row;
  }
  .intro,
  .main-container {
    width: 50%;
    min-height: 100vh;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-intro {
    height: 100%;
  }
}
