* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* ======
Typography
====== */

h1 {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 300;
  margin: 0;
}

h1 + p {
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  color: #f18119;
}

h2 {
  font-size: 1.3125rem;
  color: #404040;
  margin: 0;
}

h2 + p {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  color: #f18119;
  margin-top: 0;
}

.top-text {
  color: #f18119;
  font-size: 0.625rem;
  font-weight: 900;
  text-transform: uppercase;
  order: -1;
}

strong {
  font-weight: 900;
}

.info-small {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* ======
page container
====== */

.page-container {
  display: flex;
  flex-direction: column;
}

/* ======
Intro section
====== */

.intro {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #404040;
  background-image: url(../images/dark-ribs.jpg);
  padding: 0 0.5em 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 500px; */
}

/* ======
main-container section
====== */

.main-container {
  padding: 2em 1.5em;
}

/* ======
Buttons
====== */

.main-btn {
  background: linear-gradient(to right, #ffa51d, #ff713b);
}

.main-btn:hover,
.main-btn:focus {
  color: #000;
  background: linear-gradient(to left, #ffa51d, #ff713b);
  font-weight: 900;
}

.btn {
  cursor: pointer;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
  border: none;
  min-width: 206px;
  color: #fff;
}

input,
.btn {
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em 1.25em;
}

input {
  text-align: center;
  border: 1px solid rgba(64, 65, 64, 0.6);
}

/* ======
media queries
====== */

@media (min-width: 530px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2,
  h1 + p {
    font-size: 1.75rem;
  }
  /*  */
  .page-container {
    flex-direction: row;
  }
  .intro,
  .main-container {
    width: 50%;
    min-height: 100vh;
  }
}
