body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* ======
Typography
====== */

h1 {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 300;
}

h1 + p,
h2 + p {
  text-transform: uppercase;
  color: #f18119;
}

h1 + p {
  font-weight: 900;
  font-size: 1.3125rem;
}

h2 {
  font-size: 1.3125rem;
  color: #404040;
}

h2 + p {
  font-weight: 900;
  font-size: 1rem;
}

strong {
  font-weight: 900;
}

.info-small {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
}

.top-text {
  color: #f18119;
  text-transform: uppercase;
}

@media (min-width: 650px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}

/* ======
Intro section
====== */

/* .page-container {
  display: flex;
  flex-direction: column;
} */

.intro {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #404040;
  background-image: url(../images/dark-ribs.jpg);
  padding: 0 1.25em 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  /* height: 500px; */
}

.top-text {
  order: -2;
}

.main-container {
  padding: 3em;
}

@media (min-width: 650px) {
  .main-container {
    flex-direction: row;
  }
  .intro,
  .main-container {
    height: 100vh;
  }
  .intro {
    width: 55%;
  }
  .main-container {
    width: 45%;
  }
}

/* ======
Buttons
====== */

.main-btn {
  background: linear-gradient(to right, #ffa51d, #ff713b);
}

.main-btn:hover,
.main-btn:focus {
  color: #000;
  background: linear-gradient(to left, #ffa51d, #ff713b);
  font-weight: 900;
}

.btn {
  cursor: pointer;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
  border: none;
  min-width: 206px;
  color: #fff;
}

input,
.btn {
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em 1.25em;
}

input {
  text-align: center;
  border: 1px solid rgba(64, 65, 64, 0.6);
}
